body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  background-color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container{
  width: 1530px;
  height: 100%;
}
